name: Action Test

permissions:
  contents: read

on:
  push:
    branches:
      - '**'

jobs:
  action-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Run Agent Metadata Action
        uses: ./
        with:
          agent-type: 'myagent'
          version: '1.0.0'
          features: 'feature1, feature2'
          bugs: 'bug1, bug2'
          security: 'CVE-2022-1234'
          deprecations: 'deprecation1, deprecation2'
          supportedOperatingSystems: 'linux, windows'
          cache: false
