name: Action Test

permissions:
  contents: read

on:
  push:
    branches:
      - '**'

jobs:
  test-agent-flow:
    name: Test Agent Repository Flow
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup test files
        run: ln -s integration-test/agent-flow/.fleetControl .fleetControl

      - name: Run Agent Metadata Action (with configs)
        uses: ./
        with:
          agent-type: 'myagent'
          version: '1.0.0'
          cache: false
