name: Action Test

permissions:
  contents: read

on:
  push:
    branches:
      - '**'

jobs:
  test-agent-flow:
    name: Test Agent Repository Flow
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup test files
        run: ln -s integration-test/agent-flow/.fleetControl .fleetControl

      - name: Run Agent Metadata Action (with configs)
        uses: ./
        with:
          agent-type: 'myagent'
          version: '1.0.0'
          cache: false

  test-docs-flow:
    name: Test Documentation Flow
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Run Agent Metadata Action (metadata only)
        uses: ./
        with:
          agent-type: 'myagent'
          version: '2.3.4'
          features: 'docs-feature1, docs-feature2'
          bugs: 'docs-bug1'
          security: 'CVE-2024-5678'
          deprecations: 'docs-deprecated1'
          supportedOperatingSystems: 'linux, darwin'
          eol: '2025-12-31'
          cache: false
        env:
          GITHUB_WORKSPACE: ''
